<a href="https://colab.research.google.com/github/chenbrilliancesol/AIsky/blob/%E7%BB%83%E4%B9%A0/%E6%95%B0%E6%8D%AE%E6%B8%85%E6%B4%97.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

a = np.array([10, 20, 30])          # (3,)
b = np.broadcast_to(a.reshape(1, 3), (2, 3, 3))
print(b.shape)        # (2, 3, 4)
print(b.base.base is a)  # True —— 仍是视图

(2, 3, 3)
False

In [ ]:
def is_view(a, b):
    """如果 a 和 b 中任意一个是另一个的视图，返回 True，否则 False。"""
    return (a.base is b) or (b.base is a)

# 测试
x = np.arange(10)
y = x[::2]
print(is_view(x, y))   # True
print(is_view(x, x.copy()))  # False

True
False

In [ ]:
import pandas as pd
import numpy as np

# 1. 生造 50 万行数据
np.random.seed(0)
n = 500_000
df = pd.DataFrame({
    "省": np.random.choice(["广东", "江苏", "浙江"], n),
    "市": np.random.choice(["广州", "深圳", "南京", "苏州", "杭州"], n),
    "商品": np.random.choice(["可乐", "雪碧", "芬达"], n),
    "销量": np.random.randint(1, 100, n)
})
print(df)

         省   市  商品  销量
0       广东  苏州  雪碧  38
1       江苏  广州  芬达  56
2       广东  苏州  可乐   8
3       江苏  苏州  雪碧  74
4       江苏  苏州  雪碧  57
...     ..  ..  ..  ..
499995  浙江  深圳  芬达  81
499996  浙江  杭州  可乐  92
499997  浙江  深圳  雪碧  34
499998  江苏  南京  雪碧   5
499999  浙江  深圳  可乐  41

[500000 rows x 4 columns]

In [ ]:
df["商品"] = df["商品"].astype("category")
# 2. 会员卡：商品列变成 category
print(df['商品'])

0         雪碧
1         芬达
2         可乐
3         雪碧
4         雪碧
          ..
499995    芬达
499996    可乐
499997    雪碧
499998    雪碧
499999    可乐
Name: 商品, Length: 500000, dtype: category
Categories (3, object): ['可乐', '芬达', '雪碧']

In [ ]:
df_indexed = df.set_index(["省", "市", "商品"])
# 3. 多层货架：省-市-商品 三层索引
print(df_indexed)

          销量
省  市  商品
广东 苏州 雪碧  38
江苏 广州 芬达  56
广东 苏州 可乐   8
江苏 苏州 雪碧  74
      雪碧  57
...       ..
浙江 深圳 芬达  81
   杭州 可乐  92
   深圳 雪碧  34
江苏 南京 雪碧   5
浙江 深圳 可乐  41

[500000 rows x 1 columns]

In [ ]:
# 4. 汇总：每个省-市-商品 的销量总和
result = df_indexed.groupby(level=[0, 1, 2],observed=True).sum()
print(result.head())

              销量
省  市  商品
广东 南京 可乐  555061
      芬达  544470
      雪碧  554201
   广州 可乐  565300
      芬达  571081

In [ ]:
print(df_indexed.loc["广东"])

       销量
市  商品
苏州 雪碧  38
   可乐   8
深圳 可乐  87
   芬达  29
广州 雪碧  36
...    ..
杭州 雪碧  46
广州 可乐  85
深圳 芬达  14
   可乐  18
广州 芬达  91

[167279 rows x 1 columns]

In [19]:
df=pd.read_csv('/content/sample_data/california_housing_test.csv')
print(df)

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       -122.05     37.37                27.0       3885.0           661.0
1       -118.30     34.26                43.0       1510.0           310.0
2       -117.81     33.78                27.0       3589.0           507.0
3       -118.36     33.82                28.0         67.0            15.0
4       -119.67     36.33                19.0       1241.0           244.0
...         ...       ...                 ...          ...             ...
2995    -119.86     34.42                23.0       1450.0           642.0
2996    -118.14     34.06                27.0       5257.0          1082.0
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
0         1537.0       606.0         6.6085            344700.0
1          809.0       277.0         3.5990            176500.0
2         1484.0       495.0         5.7934            270500.0
3           49.0        11.0         6.1359            330000.0
4          850.0       237.0         2.9375             81700.0
...          ...         ...            ...                 ...
2995      1258.0       607.0         1.1790            225000.0
2996      3496.0      1036.0         3.3906            237200.0
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

[3000 rows x 9 columns]

In [24]:
df['latitude'] = df["latitude"].astype("float")
print(df['latitude'])

0       37.37
1       34.26
2       33.78
3       33.82
4       36.33
        ...
2995    34.42
2996    34.06
2997    36.30
2998    34.10
2999    34.42
Name: latitude, Length: 3000, dtype: float64

In [31]:
print("真实列名列表：")
print(list(df.columns))

真实列名列表：
['total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'median_house_value']

In [32]:
df = df.set_index(["total_rooms", "total_bedrooms", "population"])
print(df)

                                       households  median_income  \
total_rooms total_bedrooms population
3885.0      661.0          1537.0           606.0         6.6085
1510.0      310.0          809.0            277.0         3.5990
3589.0      507.0          1484.0           495.0         5.7934
67.0        15.0           49.0              11.0         6.1359
1241.0      244.0          850.0            237.0         2.9375
...                                           ...            ...
1450.0      642.0          1258.0           607.0         1.1790
5257.0      1082.0         3496.0          1036.0         3.3906
956.0       201.0          693.0            220.0         2.2895
96.0        14.0           46.0              14.0         3.2708
1765.0      263.0          753.0            260.0         8.5608

                                       median_house_value
total_rooms total_bedrooms population
3885.0      661.0          1537.0                344700.0
1510.0      310.0          809.0                 176500.0
3589.0      507.0          1484.0                270500.0
67.0        15.0           49.0                  330000.0
1241.0      244.0          850.0                  81700.0
...                                                   ...
1450.0      642.0          1258.0                225000.0
5257.0      1082.0         3496.0                237200.0
956.0       201.0          693.0                  62000.0
96.0        14.0           46.0                  162500.0
1765.0      263.0          753.0                 500001.0

[3000 rows x 3 columns]

In [38]:
result = df.loc[(1241.0, 244.0, 850.0), :]
report = (df.groupby(["total_rooms", "total_bedrooms", "population"])
          ['median_house_value'].sum()
          .unstack(level='population')
          )
print(report)

population                   5.0      8.0      14.0     19.0      21.0     \
total_rooms total_bedrooms
6.0         2.0                  NaN  55000.0      NaN      NaN       NaN
16.0        4.0                  NaN  60000.0      NaN      NaN       NaN
18.0        3.0             275000.0      NaN      NaN      NaN       NaN
19.0        19.0                 NaN      NaN      NaN      NaN       NaN
21.0        7.0                  NaN      NaN      NaN      NaN  175000.0
...                              ...      ...      ...      ...       ...
21988.0     4055.0               NaN      NaN      NaN      NaN       NaN
23915.0     4135.0               NaN      NaN      NaN      NaN       NaN
24121.0     4522.0               NaN      NaN      NaN      NaN       NaN
27870.0     5027.0               NaN      NaN      NaN      NaN       NaN
30450.0     5033.0               NaN      NaN      NaN      NaN       NaN

population                  22.0     25.0     26.0     27.0     29.0     ...  \
total_rooms total_bedrooms                                               ...
6.0         2.0                 NaN      NaN      NaN      NaN      NaN  ...
16.0        4.0                 NaN      NaN      NaN      NaN      NaN  ...
18.0        3.0                 NaN      NaN      NaN      NaN      NaN  ...
19.0        19.0                NaN      NaN      NaN      NaN      NaN  ...
21.0        7.0                 NaN      NaN      NaN      NaN      NaN  ...
...                             ...      ...      ...      ...      ...  ...
21988.0     4055.0              NaN      NaN      NaN      NaN      NaN  ...
23915.0     4135.0              NaN      NaN      NaN      NaN      NaN  ...
24121.0     4522.0              NaN      NaN      NaN      NaN      NaN  ...
27870.0     5027.0              NaN      NaN      NaN      NaN      NaN  ...
30450.0     5033.0              NaN      NaN      NaN      NaN      NaN  ...

population                  7560.0   7596.0   7604.0   8152.0   8768.0   \
total_rooms total_bedrooms
6.0         2.0                 NaN      NaN      NaN      NaN      NaN
16.0        4.0                 NaN      NaN      NaN      NaN      NaN
18.0        3.0                 NaN      NaN      NaN      NaN      NaN
19.0        19.0                NaN      NaN      NaN      NaN      NaN
21.0        7.0                 NaN      NaN      NaN      NaN      NaN
...                             ...      ...      ...      ...      ...
21988.0     4055.0              NaN      NaN      NaN      NaN      NaN
23915.0     4135.0              NaN      NaN      NaN      NaN      NaN
24121.0     4522.0              NaN      NaN      NaN      NaN      NaN
27870.0     5027.0              NaN      NaN      NaN      NaN      NaN
30450.0     5033.0              NaN      NaN      NaN      NaN      NaN

population                   8824.0    9419.0    10877.0  11139.0   11935.0
total_rooms total_bedrooms
6.0         2.0                  NaN       NaN       NaN      NaN       NaN
16.0        4.0                  NaN       NaN       NaN      NaN       NaN
18.0        3.0                  NaN       NaN       NaN      NaN       NaN
19.0        19.0                 NaN       NaN       NaN      NaN       NaN
21.0        7.0                  NaN       NaN       NaN      NaN       NaN
...                              ...       ...       ...      ...       ...
21988.0     4055.0          191100.0       NaN       NaN      NaN       NaN
23915.0     4135.0               NaN       NaN  244900.0      NaN       NaN
24121.0     4522.0               NaN       NaN       NaN      NaN       NaN
27870.0     5027.0               NaN       NaN       NaN      NaN  212200.0
30450.0     5033.0               NaN  174300.0       NaN      NaN       NaN

[2997 rows x 1802 columns]